# YOUR PROJECT TITLE

Imports and set magics:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject
from dataproject import NyboligScraper
from dataproject import NyboligAnalysis

# Scraping data

First we need to scrape the data from the internet. The data is scraped from https://www.nybolig.dk/. To know how many pages is possible to scrape you can call the get_pages function of the following property types:

**All**: ''
**Andelsbolig**: 'andelsbolig'
**Ejerlejlighed**: 'ejerlejlighed'
**Sommerhusgrunde**: 'fritidsgrund'
**Grunde**: 'helaarsgrund'
**Hus**: 'hus'
**Landejendomme**: 'landejendom'
**Rækkehuse**:  'raekkehus'
**Sommerhuse**: 'sommerhus'
**Villalejligheder**:   'villalejlighed'


The number of pages that you choose will determine the size of the dataset.

In [2]:
scraper = NyboligScraper()
scraper.get_pages(property_type='')

Total number of pages: 2222

Next, we need to identify what property types and how many pages we want to work with. To do this you can call the scraper.scrape_data_nybolig(self, num_pages, property_type=None, file_name=None) function. This will save the desired data into a CSV file that we will be able to work with.

In [3]:
scraper.scrape_data_nybolig(num_pages=5, property_type='sommerhus', file_name='dataprojekt_data')

# Accessing Data

Now that we have created the dataset we need to access it. To do this please provide the path of this dictionary with the filename.

In [9]:
file_path = 'dataprojekt_data.csv'
data = pd.read_csv('dataprojekt_data.csv')
print(data.head())

                                             address postcode      city  \
0  Egil Fischers Vej 14, Femmøller Strand, 8400 E...     8400  Ebeltoft
1       Nørre Knoldevej 27, Skal Klit, 9800 Hjørring     9800  Hjørring
2       Sellerup Strandvej 79, Sellerup, 7080 Børkop     7080    Børkop
3                       Vandflodvej 25, 6857 Blåvand     6857   Blåvand
4                 Grindevej 14, Ulstrup, 9480 Løkken     9480    Løkken

     price          type  rooms  size_1  size_2
0  5500000  Fritidsbolig      4     177   114.0
1  5400000  Fritidsbolig      8     150     NaN
2  5495000  Fritidsbolig      4     144     NaN
3  3395000  Fritidsbolig      5     178     NaN
4  1998000  Fritidsbolig      5     128     NaN

# Analysis

In [10]:
analysis = NyboligAnalysis(file_path)

In [12]:
analysis.descriptive_statistics('price')

,count,mean,std,min,25%,50%,75%,max
price,100,2395560.0,2.128011e+06,545000,1295000.0,1895000.0,2756250.0,17000000